<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Title</title>
</head>

<body>
    <nav class="p-5 bg-dark text-light">
        <a href="/" class="text-light">home</a>
        <a href="/leadership" class="text-light">leadership</a>
        <a href="/contacts" class="text-light">contacts</a>
        <a href="/students" class="text-light">students</a>
    </nav>
    <div class="jumbotron bg-secondary">
        <h1>Welcome to python nest</h1>
        <p>This is 2025 Cohot</p>
    </div>
    <div class="cotainer">
        <div class="row">
            <div class="col-6 text-center">
                <img src="http://picsum.photos/300" alt="">
                <h1> Omoding Mark </h1>
                <p> An itesot </p>
                <small> He is a suporter of NUP </small>
            </div>
            <div class="col-6 text-center">
                <img src="http://picsum.photos/300" alt="">
                <h1> Ainembabazi Lucia </h1>
                <p> Munyankole </p>
                <small> she is a suporter of NRM </small>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-light text-center p-2 my-3">
        Copyright &copy; Gideon 2025
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>