<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Title</title>
</head>

<body>
    <nav class="p-5 bg-dark text-light">
        <a href="/" class="text-light">home</a>
        <a href="/leadership" class="text-light">leadership</a>
        <a href="/contacts" class="text-light">contacts</a>
        <a href="/students" class="text-light">students</a>
    </nav>
    <div class="jumbotron bg-secondary">
        <h1>Welcome to python nest</h1>
        <p>This is 2025 Cohot</p>
    </div>
    <div class="cotainer">
        <div class="row">
            <div class="col-8">
                <h1>hello this is cohot 14, and it it is coind CES python,</h1>
                <p>Hedding to b00t camp is the goal, see you soon in the market of programming
                    and programmers look out for impasanation, it is a heavy crime dont forget the
                    imposter syndrom.
                </p>
            </div>
            <div class="col-4 bg-dark text-white text-center">
                <h1>cosistancy is key plus lots of practise, no matter the price</h1>
                <p>Hedding to b00t camp is the goal, see you soon in the market of programming
                    and programmers look out for impasanation, it is a heavy crime dont forget the
                    imposter syndrom.
                    <button class="btn btn-light">join</button>
                </p>
            </div>
        </div>
    </div>
    <div class="cotainer py-2">
        <div class="row">
            <div class="col-4">
                <img src="https://picsum.photos/200" alt="">
            </div>
            <div class="col-8 bg-dark text-white">
                <h1>cosistancy is key plus lots of practise, no matter the price</h1>
                <p>Hedding to b00t camp is the goal, see you soon in the market of programming
                    and programmers look out for impasanation, it is a heavy crime dont forget the
                    imposter syndrom.
                </p>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-light text-center p-2">
        Copyright &copy; Gideon 2025
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>