<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Title</title>
</head>

<body>
    <nav class="p-5 bg-dark text-light">
        <a href="/" class="text-light">home</a>
        <a href="/leadership" class="text-light">leadership</a>
        <a href="/contacts" class="text-light">contacts</a>
        <a href="/allstudents" class="text-light">students</a>
    </nav>
    <div class="jumbotron bg-secondary">
        <h1>Our students</h1>
        <p>Our 2025 CSE python class</p>
    </div>
    <div class="container">
        <table class="table table-hover table-striped">
            <thead class="bg-dark text-light">
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>course</th>
                    <th>Grade</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>allan james</td>
                    <td>male</td>
                    <td>{{alt}}</td>
                    <td>A+</td>
                    <td> <a href="/students/allan">view</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{name}}</td>
                    <td>{{personer}}</td>
                    <td>{{study}}</td>
                    <td>B+</td>
                    <td> <a href="/students/kyimbugwe">view</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>frank namasuba</td>
                    <td>male</td>
                    <td>{{study}}</td>
                    <td>D++</td>
                    <td> <a href="/students/frank">view</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>atugonza derik</td>
                    <td>male</td>
                    <td>{{alt}}</td>
                    <td>f9</td>
                    <td> <a href="/students/derik">view</a></td>
                </tr>
            </tbody>
           </table>
    </div>
    <footer class="bg-dark text-light text-center p-2 my-3">
        Copyright &copy; Gideon 2025
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>